@import '../../scss/variables.scss';

.onofflabel {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.switcher {
	font-size: 12px;
	font-family: monospace;
	border:none;
	background-color: $on-color;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 4px;
	margin: 0;
	height: 16px;
	width: auto;
}