.input {
  border: none; }

.input::placeholder {
  font-style: italic;
  font-size: 12px;
  font-family: monospace;
  color: lightgrey; }

.input:valid {
  font-size: 12px;
  font-family: monospace;
  color: black; }

.form {
  display: flex; }
